<div id="summaries-duration">
    <span class="block">
        <label for="duration-select">Period:</label>
        <select id="duration-select"
                name="duration"
                autocomplete="off"
                hx-get="{{ PATH }}?{{ QUERY | mapremove("duration") | mapremove("from") | mapremove("to") | querystring }}"
                hx-target="#summaries-duration"
                hx-push-url="true"
                hx-headers='{"X-Template": "admin/analytics/summaries_duration.html"}'
                class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            {% for option in duration_options %}
                <option value="{{ option.duration }}"
                        {% if option.duration == summaries_duration.duration_option.duration %} selected="selected"{% endif %}>
                    {{ option.name }}
                </option>
            {% endfor %}
        </select>
    </span>
    <span class="block">
        <label for="uri-filter">Filter:</label>
        <input id="uri-filter"
               name="uri-filter"
               value="{% if query["uri-filter"] %}{{ query["uri-filter"] }}{% endif %}"
               class="border"
               autocomplete="off"
               hx-get="{{ PATH }}?{{ query | mapremove("uri-filter") | querystring }}"
               hx-push-url="true"
               hx-headers='{"X-Template": "admin/analytics/summaries_duration.html"}'
               hx-include="[name='uri-filter']"
               hx-target="#summaries-duration"
               hx-trigger="change">
        <button class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                hx-get="{{ PATH }}?{{ query | mapremove("uri-filter") | querystring }}"
                hx-push-url="true"
                hx-headers='{"X-Template": "admin/analytics/summaries_duration.html"}'
                hx-include="[name='uri-filter']"
                hx-target="#summaries-duration">
            Apply
        </button>
        <button class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                hx-get="{{ PATH }}?{{ query | mapremove("uri-filter") | querystring }}"
                hx-push-url="true"
                hx-headers='{"X-Template": "admin/analytics/summaries_duration.html"}'
                hx-target="#summaries-duration">
            Clear
        </button>
    </span>
    <h1 class="text-2xl font-bold">{{ summaries_duration.duration_option.name }}</h1>
    {% set chart_id = uuid() %}
    <div id="{{ chart_id }}"></div>
    <table>
        <thead>
            <tr>
                <th>Uri</th>
                <th>Visits</th>
            </tr>
        </thead>
        <tbody>
            {% for summary in summaries_duration.summaries %}
                <tr>
                    <td>
                        <a href="{{ PATH }}?{{ query | mapinsert("uri-filter", summary.uri) | querystring }}"
                           hx-boost="true"
                           hx-headers='{"X-Template": "admin/analytics/summaries_duration.html"}'
                           hx-target="#summaries-duration">
                            <button class="px-0.5 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
                                Filter
                            </button>
                        </a>
                        <a class="text-blue-600 hover:text-blue-800" href="{{ summary.uri }}">{{ summary.uri }}</a>
                    </td>
                    <td>{{ summary.visits }}</td>
                </tr>
                <tr id="{{ graph_id }}">
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
{% set function_name = "plot_chart" ~ (chart_id | replace("-", "_")) %}
function {{ function_name }}() {
    const currentLocalDate = new Date();
    const offsetSeconds = currentLocalDate.getTimezoneOffset() * 60;

    const data = {{ graph.data | tojson }};

    const map_data_timezone = (data) => {
        data[0] = data[0].map(timestamp => timestamp + offsetSeconds);
        return data;
    };

    const paths = uPlot.paths.bars({size: [1, 50]});
    var first = true;

    const opts = {
        width: 800,
        height: 600,
        cursor: {
            drag: {
                setScale: false,
                x: true,
                y: false,
            }
        },
        series: [
            {},
            {
                // in-legend display
                label: "Visits",
                // series style
                stroke: "red",
                fill: "red",
                width: 4 / devicePixelRatio,
                paths
            }
        ],
        axes: [
            {},
            {
                show: true,
                label: "Visits",
                labelSize: 30,
                labelFont: "bold 12px Arial",
                font: "12px Arial",
                gap: 5,
                size: 50,
            },
        ],
        hooks: {
            init: [
                u => {
                    u.over.ondblclick = e => {
                        u.setData(data);
                    }
                }
            ],
            setSelect: [
                (u) => {
                    if (first) {
                        first = false;
                        return;
                    }
                    const min = u.posToVal(u.select.left, 'x');
                    const max = u.posToVal(u.select.left + u.select.width, 'x');

                    const fromDate = new Date((min - offsetSeconds) * 1000);
                    const toDate = new Date((max - offsetSeconds) * 1000);

                    console.log("Fetching data for range...", {fromDate, toDate, min, max});
                    const request = new Request(`?from=${fromDate.toISOString()}&to=${toDate.toISOString()}`, {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    });
                    fetch(request)
                        .then((response) => response.json())
                        .then((json) => {
                            const newData = map_data_timezone(json.graph.data);
                            u.setData(newData, false);
                            // zoom to selection
                            u.setScale('x', {min, max});

                            // reset selection
                            u.setSelect({width: 0, height: 0}, false);
                        });

                }
            ]
        }
    };

    const chartRoot = document.getElementById("{{chart_id}}");
    new uPlot(opts, data, chartRoot);
}
{{ function_name }}()
    </script>
</div>
