{{ divider() }}
<div class="py-5">
    <h2 class="text-2xl font-bold py-2">{{ fl("sponsors-title") }}</h2>
    <div class="grid md:grid-cols-5 sm:grid-cols-1 pb-2 pt-4">
        <div class="md:col-span-1 flex justify-center items-center">
            <a href="https://vagabondadventures.ge/">
                <img class="py-4 max-h-32"
                     src="/static/images/logos/vagabond_logo.png"
                     alt="Vagabond Logo" />
            </a>
        </div>
        <div class="md:col-span-4 md:text-justify pl-4 prose leading-normal">
            <a href="https://vagabondadventures.ge/">Vagabond Adventures</a> are the premier English-speaking (& German, Czech, French et al!) provider of ski/snowboard lessons, ski holiday packages & off-piste guiding at Gudauri, Georgia. With their intimate local knowledge, they also organise fantastic ski safari tours throughout the country, combining resort, off-piste & snowcat skiing with the incredible Georgian culture.
        </div>
    </div>
</div>
