{% from "macros/language_select.html" import language_select %}
{% macro hazard_rating_number(hazard_value) -%}
    {%- if not hazard_value -%}
        ?
    {%- elif hazard_value == "low" -%}
        1
    {%- elif hazard_value == "moderate" -%}
        2
    {%- elif hazard_value == "considerable" -%}
        3
    {%- elif hazard_value == "high" -%}
        4
    {%- elif hazard_value == "extreme" %}
        5
    {%- endif %}
{%- endmacro %}
{% macro hazard_rating_style(hazard_value) -%}
    {% if not hazard_value -%}
        text-white bg-[#ccccccff]
    {%- elif hazard_value == "low" -%}
        text-black bg-[#57bb51ff]
    {%- elif hazard_value == "moderate" -%}
        text-black bg-[#fee85bff]
    {%- elif hazard_value == "considerable" -%}
        text-black bg-[#fd923aff]
    {%- elif hazard_value == "high" -%}
        text-black bg-[#fc3329ff]
    {%- elif hazard_value == "extreme" -%}
        text-white bg-black
    {%- endif -%}
{%- endmacro %}
{% extends "base.html" %}
{% set overall_hazard = hazard_ratings["overall"].value %}
{% block body %}
    <div class="flex items-center justify-center w-screen">
        <div class="p-2 w-full md:min-w-3xl md:max-w-3xl">
            <h1 class="text-5xl text-center">{{ fl("forecast-area-" ~ area) }}</h1>
            <div class="pt-2 pb-4 text-center">
                <span>
                    <label for="language-select">Language:</label>
                    {{ language_select() }}
                </span>
            </div>
            <div class="sticky bottom-0 h-px -mt-px bg-slate-200 dark:bg-slate-400/20"></div>
            <div class="grid md:grid-cols-5 sm:grid-cols-1 pb-2 pt-4">
                <div class="md:col-span-1 flex justify-center items-center">
                    <img class="md:w-fit w-24 md:px-2"
                         src="/static/images/icons/hazard-rating/{{ overall_hazard }}.png"
                         alt="Icon for {{ fl("avalanche-hazard-heading") }}: {{ fl("avalanche-hazard-" ~ overall_hazard) }}"/>
                </div>
                <div class="md:col-span-4">
                    <p class="italic">
                        {{ fl("avalanche-hazard-" ~ overall_hazard ~ "-likelihood") }} {{ fl("avalanche-hazard-" ~ overall_hazard ~ "-size-distribution") }}
                    </p>
                    <p>{{ description }}</p>
                </div>
            </div>
            <div class="py-4">
                <p class="text-center">
                    <b>{{ fl("forecast-issued-at-heading-colon") }}</b> {{ formatted_time }}
                </p>
                <p class="text-center">
                    <b>{{ fl("forecast-valid-until-heading-colon") }}</b> {{ formatted_valid_until }}
                </p>
                <p class="text-center">
                    <b>{{ fl("forecast-forecaster-heading-colon") }}</b> {{ forecaster.name }}
                </p>
            </div>
            <p>{{ fl("disclaimer-message") }}</p>
            <div class="py-8">
                {% for elevation_band_id in ["high-alpine", "alpine", "sub-alpine"] %}
                    {% set band = elevation_bands[elevation_band_id] %}
                    {% set band_hazard = hazard_ratings[elevation_band_id].value %}
                    <div class="grid md:grid-cols-3 sm:grid-cols-1 py-2">
                        <div class="flex justify-center items-center text-center">
                            <div>
                                <h3 class="text-3xl">{{ fl("elevation-band-" ~ elevation_band_id) }}</h3>
                                <p>
                                    {% if band.lower and band.upper -%}
                                        {{ band.lower }}m - {{ band.upper }}m
                                    {% elif band.upper %}
                                        {{ "<" }} {{ band.upper }}m
                                    {% elif band.lower %}
                                        {{ ">" }} {{ band.lower }}m
                                    {%- endif %}
                                </p>
                            </div>
                        </div>
                        <div class="flex justify-center items-center p-4 md:py-0">
                            <img class="max-h-32 min-w-0"
                                 src="/static/images/icons/hazard-rating/{{ band_hazard }}.png"
                                 alt="Icon for {{ fl("avalanche-hazard-heading") }}: {{ fl("avalanche-hazard-" ~ overall_hazard) }}"/>
                            <img class="max-h-32 min-w-0"
                                 src="/diagrams/elevation_hazard.svg?elevation_band={{ elevation_band_id | replace("-", "_") }}&hazard_level={{ band_hazard }}"
                                 alt="Elevation Hazard Diagram {{ elevation_band_id }} {{ band_hazard }}"/>
                        </div>
                        <div>
                            <h4 class="text-2xl text-center md:text-left">
                                <span class="px-2 {{ hazard_rating_style(band_hazard) }}">{{ hazard_rating_number(band_hazard) }}</span> {{ fl("avalanche-hazard-" ~ band_hazard) }}
                            </h4>
                            <p>{{ fl("avalanche-hazard-" ~ band_hazard ~ "-about") }}</p>
                        </div>
                    </div>
                    {% if not loop.last %}<div class="sticky bottom-0 h-px -mt-px bg-slate-200 dark:bg-slate-400/20"></div>{% endif %}
                {% endfor %}
            </div>
            <h2 class="text-4xl">{{ fl("avalanche-problems-heading") }}</h2>
            {% for problem in avalanche_problems %}
                <h3 class="text-3xl">{{ fl("avalanche-problem-heading") }}: {{ fl("problem-type-" ~ problem.kind)}}</h3>
                <img width="300px"
                     src="{{ problem.aspect_elevation_chart }}"
                     alt="Aspect Elevation Chart"/>
                <p>
                    {{ fl("avalanche-size-heading") }}: {{ problem.size }}
                    <br>
                    {{ fl("sensitivity-heading") }}: {{ fl("sensitivity-" ~ problem.sensitivity) }}
                    <br>
                    {{ fl("distribution-heading") }}: {{ fl("distribution-" ~ problem.distribution) }}
                    <br>
                    {{ fl("problem-time-of-day-heading") }}: {{ fl("time-of-day-" ~ problem.time_of_day) }}
                    <br>
                    {{ fl("trend-heading") }}: {{ fl("trend-" ~ problem.trend) }}
                    <br>
                    {% if problem.confidence %}
                        {{ fl("confidence-heading") }}: {{ fl("confidence-" ~ problem.confidence) }}
                        <br>
                    {% endif %}
                </p>
            {% endfor %}
            <h2 class="text-4xl">{{ fl("recent-relevant-observations-heading") }}</h2>
            <p>{{ recent_observations }}</p>
            <h2 class="text-4xl">{{ fl("weather-forecast-heading") }}</h2>
            <p>{{ weather_forecast }}</p>
        </div>
    </div>
{% endblock body %}
