{% from "macros/language_select.html" import language_select %}
{% from "macros/forecast_intro.html" import forecast_intro %}
{% macro hazard_rating_number(hazard_value) -%}
    {%- if not hazard_value -%}
        ?
    {%- elif hazard_value == "low" -%}
        1
    {%- elif hazard_value == "moderate" -%}
        2
    {%- elif hazard_value == "considerable" -%}
        3
    {%- elif hazard_value == "high" -%}
        4
    {%- elif hazard_value == "extreme" %}
        5
    {%- endif %}
{%- endmacro %}
{% macro hazard_rating_style(hazard_value) -%}
    {% if not hazard_value -%}
        text-black bg-[#ccccccff]
    {%- elif hazard_value == "low" -%}
        text-white bg-[#57bb51ff]
    {%- elif hazard_value == "moderate" -%}
        text-black bg-[#fee85bff]
    {%- elif hazard_value == "considerable" -%}
        text-white bg-[#fd923aff]
    {%- elif hazard_value == "high" -%}
        text-white bg-[#fc3329ff]
    {%- elif hazard_value == "extreme" -%}
        text-white bg-black
    {%- endif -%}
{%- endmacro %}
{% extends "base.html" %}
{% block title %}
    {{ formatted_time }} - {{ fl("forecast-area-" ~ area) }} - {{ fl("avalanche-forecast-heading" ) }}
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="/dist/leaflet.css"/>
    <script src="/dist/leaflet.js"></script>
    <link rel="stylesheet" href="/dist/leaflet-gesture-handling.css"/>
    <script src="/dist/leaflet-gesture-handling.js"></script>
    <script src="/dist/maptiler-sdk.umd.js"></script>
    <link href="/dist/maptiler-sdk.css" rel="stylesheet"/>
    <!-- MapTiler SDK + Leaflet bindings -->
    <script src="/dist/leaflet-maptilersdk.js"></script>
{% endblock head %}
{% set overall_hazard = hazard_ratings["overall"].value %}
{% block body %}
    <div class="flex items-center justify-center w-screen">
        <div class="py-2 w-full md:min-w-3xl md:max-w-3xl">
            <div class="px-2">
                <div class="grid md:grid-cols-3 grid-cols-1">
                    <div>
                        <a class="text-xl font-bold text-blue-600 hover:text-blue-800"
                           href="../">&lt; {{ fl("back-button-text") }}</a>
                    </div>
                    <h1 class="text-5xl text-center">{{ fl("forecast-area-" ~ area) }}</h1>
                    <div></div>
                </div>
                <div class="pt-2 pb-4 text-center">
                    <span>
                        <label for="language-select">Language:</label>
                        {{ language_select() }}
                    </span>
                </div>
                <div class="sticky bottom-0 h-px -mt-px bg-slate-200 dark:bg-slate-400/20"></div>
                {{ forecast_intro(
                overall_hazard=overall_hazard,
                description=description,
                formatted_time=formatted_time,
                formatted_valid_until=formatted_valid_until,
                forecaster_name=forecaster.name
                ) }}
                <p class="md:text-justify pb-4">{{ fl("disclaimer-message") }}</p>
            </div>
            <figure>
                <div id="map" class="h-[80vh]"></div>
                <figcaption class="text-center font-bold">
                    {{ fl("forecast-area-heading") }}
                </figcaption>
            </figure>
            <div class="px-2">
                <div class="py-8">
                    {% for elevation_band_id in ["high-alpine", "alpine", "sub-alpine"] %}
                        {% set band = elevation_bands[elevation_band_id] %}
                        {% set band_hazard = hazard_ratings[elevation_band_id].value %}
                        <div class="grid md:grid-cols-3 sm:grid-cols-1 py-2">
                            <div class="flex justify-center items-center text-center">
                                <div>
                                    <h3 class="text-3xl">{{ fl("elevation-band-" ~ elevation_band_id) }}</h3>
                                    <p>
                                        {% if band.lower and band.upper -%}
                                            {{ band.lower }}m - {{ band.upper }}m
                                        {% elif band.upper %}
                                            {{ "<" }} {{ band.upper }}m
                                        {% elif band.lower %}
                                            {{ ">" }} {{ band.lower }}m
                                        {%- endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="flex justify-center items-center p-4 md:py-0">
                                <img class="max-h-32 min-w-0"
                                     src="/static/images/icons/hazard-rating/{{ band_hazard }}.png"
                                     alt="Icon for {{ fl("avalanche-hazard-heading") }}: {{ fl("avalanche-hazard-" ~ overall_hazard) }}"/>
                                <img class="max-h-32 min-w-0"
                                     src="/diagrams/elevation_hazard.svg?elevation_band={{ elevation_band_id | replace("-", "_") }}&hazard_level={{ band_hazard }}"
                                     alt="Elevation Hazard Diagram {{ elevation_band_id }} {{ band_hazard }}"/>
                            </div>
                            <div>
                                <h4 class="text-2xl text-center md:text-left">
                                    <span class="px-2 {{ hazard_rating_style(band_hazard) }}">{{ hazard_rating_number(band_hazard) }}</span> {{ fl("avalanche-hazard-" ~ band_hazard) }}
                                </h4>
                                <p class="hyphens-auto md:text-left md:hyphens-none">{{ fl("avalanche-hazard-" ~ band_hazard ~ "-about") }}</p>
                            </div>
                        </div>
                        {% if not loop.last %}<div class="sticky bottom-0 h-px -mt-px bg-slate-200 dark:bg-slate-400/20"></div>{% endif %}
                    {% endfor %}
                </div>
                <h2 class="text-4xl text-center">{{ fl("avalanche-problems-heading") }}</h2>
                {% for problem in avalanche_problems %}
                    <h3 class="text-3xl text-center pt-2">{{ fl("problem-type-" ~ problem.kind) }}</h3>
                    <div class="grid grid-cols-2 md:grid-cols-4 p-4 md:py-0">
                        <figure class="flex justify-center items-center"
                                aria-labelledby="problem-type-heading-{{ loop.index0 }}">
                            <img class="min-w-0 max-h-52 p-4"
                                 src="/static/images/icons/problem-types/{{ problem.kind }}.png"
                                 alt="{{ fl("problem-type-heading") }} {{ fl("problem-type-" ~ problem.kind)}} Icon"/>
                        </figure>
                        <div id="problem-type-heading-{{ loop.index0 }}"
                             class="text-center order-1 md:order-1 font-bold">
                            {{ fl("problem-type-heading") }}
                        </div>
                        <figure class="flex justify-center items-center"
                                aria-labelledby="aspect-elevation-chart-heading-{{ loop.index0 }}">
                            <img class="min-w-0 max-h-60"
                                 src="{{ problem.aspect_elevation_chart }}"
                                 alt="{{ fl("aspect-elevation-chart-caption") }}"/>
                        </figure>
                        <div id="aspect-elevation-chart-heading-{{ loop.index0 }}"
                             class="text-center order-1 md:order-1 font-bold">
                            {{ fl("aspect-elevation-chart-caption") }}
                        </div>
                        <figure class="flex justify-center items-center order-1 md:order-none"
                                aria-labelledby="size-bar-heading-{{ loop.index0 }}">
                            <img class="pl-8 min-w-0 max-h-60 h-3/4"
                                 src="/diagrams/size.svg?size={{ problem.size }}"
                                 alt="{{ fl("avalanche-size-heading") }}"/>
                        </figure>
                        <div id="size-bar-heading-{{ loop.index0 }}"
                             class="text-center order-2 md:order-1 font-bold">
                            {{ fl("avalanche-size-heading") }}
                        </div>
                        <figure class="flex justify-center items-center order-1 md:order-none"
                                aria-labelledby="probability-bar-heading-{{ loop.index0 }}">
                            <img class="pl-8 min-w-0 max-h-60 h-3/4"
                                 src="/diagrams/probability.svg?probability={{ problem.probability }}"
                                 alt="{{ fl("avalanche-likelihood-heading") }}"/>
                        </figure>
                        <div id="probability-bar-heading-{{ loop.index0 }}"
                             class="text-center order-2 md:order-1 font-bold">
                            {{ fl("avalanche-likelihood-heading") }}
                        </div>
                    </div>
                    <p class="hyphens-auto md:hyphens-none md:text-justify py-2">
                        <span class="italic">{{ fl("problem-type-" ~ problem.kind ~ "-about") }}</span>
                        {{ problem.description }}
                    </p>
                    <div class="py-2">
                        <table class="w-full">
                            <tr class="odd:bg-gray-100">
                                <td class="text-right font-bold p-2">{{ fl("sensitivity-heading") }}</td>
                                <td class="p-2">{{ fl("sensitivity-" ~ problem.sensitivity ~ "-about") }}</td>
                            </tr>
                            <tr class="odd:bg-gray-100">
                                <td class="text-right font-bold p-2">{{ fl("distribution-heading") }}</td>
                                <td class="p-2">{{ fl("distribution-" ~ problem.distribution ~ "-about") }}</td>
                            </tr>
                            <tr class="odd:bg-gray-100">
                                <td class="text-right font-bold p-2">
                                    {{ fl("problem-time-of-day-heading") }}
                                </td>
                                <td class="p-2">
                                    {{ fl("time-of-day-" ~ problem.time_of_day) }}
                                </td>
                            </tr>
                            <tr class="odd:bg-gray-100">
                                <td class="text-right font-bold p-2">
                                    {{ fl("trend-heading") }}
                                </td>
                                <td class="p-2">
                                    {{ fl("trend-" ~ problem.trend) }}
                                </td>
                            </tr>
                            {% if problem.confidence %}
                                <tr class="odd:bg-gray-100">
                                    <td class="text-center font-bold p-2">
                                        {{ fl("confidence-heading") }}
                                    </td>
                                    <td class="p-2">
                                        {{ fl("confidence-" ~ problem.confidence) }}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                    {% if not loop.last %}
                        <div class="sticky bottom-0 h-px -mt-px bg-slate-200 dark:bg-slate-400/20">
                        </div>
                    {% endif %}
                {% endfor %}
                <h2 class="text-4xl text-center py-4">
                    {{ fl("recent-relevant-observations-heading") }}
                </h2>
                <p class="md:text-justify md:hyphens-none pb-2">
                    {{ recent_observations }}
                </p>
                <h2 class="text-4xl text-center py-2">
                    {{ fl("weather-forecast-heading") }}
                </h2>
                <p class="md:text-justify md:hyphens-none pb-2">
                    {{ weather_forecast }}
                </p>
            </div>
        </div>
    </div>
    <script>
        L.Map.addInitHook("addHandler", "gestureHandling", leafletGestureHandling.GestureHandling );
        const map = L.map('map', {
            gestureHandling: true
        });

        {% if "MapTiler" in map.source %}
            {% set source = map.source["MapTiler"] %}
            var webglSupported = false;
            try {
                canvas = document.createElement('canvas');
                ctx = canvas.getContext('webgl2') || canvas.getContext('webgl');
                canvas = undefined;

                if (ctx !== null) {
                    webglSupported = true;
                }
            }
            catch (e) {}

            if (webglSupported) {
                const mtLayer = L.maptilerLayer({
                    style: "https://api.maptiler.com/maps/{{ source.style }}/style.json?key={{ source.api_key }}",
                    language: "{{ LANGUAGE_SHORT }}",
                }).addTo(map);
            } else {
                console.warn("WebGL not supported. Falling back to raster tiles.");
                const tiles = L.tileLayer(
                    "https://api.maptiler.com/maps/{{ source.style }}/{z}/{x}/{y}.png?key={{ source.api_key }}",
                    {
                        attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
                        tileSize: 512,
                        zoomOffset: -1,
                        minZoom: 1,
                        crossOrigin: true
                    }).addTo(map);
            }
        {% elif "Ersi" in map.source %}
            const tilesBase = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}",
                {
                    attribution: "\u003ca href=\"https://www.esri.com\" target=\"_blank\"\u003e\u0026copy; Esri\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
                    tileSize: 256,
                    zoomOffset: 0,
                    minZoom: 1,
                    crossOrigin: true
                }).addTo(map);
            const tilesPiste = L.tileLayer(
                "http://tiles.opensnowmap.org/pistes/{z}/{x}/{y}.png",
                {
                    maxZoom: 18,
                    attribution: "\u003ca href=\"http://opensnowmap.org/\" target=\"_blank\"\u003e\u0026copy; OpenSnowMap\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
                    tileSize: 256,
                    zoomOffset: 0,
                    minZoom: 1,
                    crossOrigin: true,
                }).addTo(map);
        {% elif "OpenTopoMap" in map.source %}
            const tiles = L.tileLayer(
                "https://tile.opentopomap.org/{z}/{x}/{y}.png",
                {
                    attribution: "\u003ca href=\"https://opentopomap.org\" target=\"_blank\"\u003e\u0026copy; OpenTopoMap\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
                    tileSize: 256,
                    zoomOffset: 0,
                    minZoom: 1,
                    crossOrigin: true
                }).addTo(map);
        {% elif "Tracestrack" in map.source %}
        {% set source = map.source["Tracestrack"] %}
        {% set map_lang_id = "_" %}
        {% if LANGUAGE_SHORT in ["en", "ar", "de", "es", "fi", "fr", "he", "hu", "it", "ja", "ko", "nl", "pl", "pt", "ru", "uk", "sv", "th", "tr"] %}
            {% set map_lang_id = LANGUAGE_SHORT %}
        {% elif LANGUAGE in ["zh-hans", "zh-hant"] %}
            {% set map_lang_id = LANGUAGE %}
        {% endif %}
            const tiles = L.tileLayer(
                "https://tile.tracestrack.com/topo_{{ map_lang_id }}/{z}/{x}/{y}.png?key={{ source.api_key }}",
                {
                    attribution: "Data: © <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap contributors</a>, <a href=\"https://worldcover2021.esa.int\">ESA WorldCover</a>; Maps © <a href=\"https://www.tracestrack.com/\">Tracestrack</a>",
                    tileSize: 512,
                    zoomOffset: -1,
                    minZoom: 1,
                    crossOrigin: true
                }).addTo(map);
            

        {% endif %}

        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent);
            }
        }
        fetch("/forecast-areas/gudauri/area.geojson")
            .then(response => response.json())
            .then(geojson => {
                const geoJsonLayer = L.geoJSON(geojson, {
                    onEachFeature: onEachFeature
                }).addTo(map)
                map.fitBounds(geoJsonLayer.getBounds());
            })
            .catch(err => { throw err });
    </script>
{% endblock body %}
