{% from "macros/language_select.html" import language_select %}
{% extends "base.html" %}
{% macro forecast_block(forecast, emphasize=false) %}
    <p>
        <a class="text-xl font-bold text-blue-600 hover:text-blue-800 visited:text-purple-600 {% if emphasize %}text-xl font-bold{% endif %}"
           href="/forecasts/{{ forecast.file.file.name | urlencode }}">
            {{ forecast.details.formatted_time }}
        </a>
    </p>
{% endmacro %}
{% set page_title = fl("gudauri-avalanche-forecast-heading") %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block body %}
    <h1 class="text-5xl font-bold text-center">{{ page_title }}</h1>
    <div class="flex items-center justify-center w-screen">
        <div class="p-2 w-full md:min-w-3xl md:max-w-3xl text-center">
            <div class="pb-2">
                <span>
                    <label for="language-select">Language:</label>
                    {{ language_select() }}
                </span>
            </div>
            <div class="sticky bottom-0 h-px -mt-px bg-slate-200 dark:bg-slate-400/20"></div>
            {% if (forecasts | length) == 0 %}
                <p class="text-2xl font-bold text-rose-600">{{ fl("no-forecasts-available-message") }}</p>
            {% else %}
                <div class="py-10">
                    <h2 class="text-4xl font-bold">2022/23 Season Forecast Closed</h2>
                    <p>
                        Thank you all the volunteers who contributed to producing the forecast this season. We hope this service has been helpful for you and next season we hope to be back with more resources and a better, more professional product.
                    </p>
                    <p>
                        See <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600"
    href="https://www.facebook.com/groups/830534093958221">Our Facebook Page</a> for discussion and updates, and watch this space.
                    </p>
                    <figure class="py-5">
                        <iframe src="https://psavalancheconsulting.github.io/ElevationMap.html"
                                class="w-full"
                                height="480px"></iframe>
                        <figcaption class="italic">
                            {{ fl("elevation-bands-heading") }}
                        </figcaption>
                    </figure>
                </div>
                <div class="sticky bottom-0 h-px -mt-px bg-slate-200 dark:bg-slate-400/20"></div>
                <div class="py-5 text-slate-500">
                    <h2 class="text-2xl font-bold py-2">{{ fl("forecast-archive-heading") }}</h2>
                    {% for forecast in forecasts %}{{ forecast_block(forecast=forecast) }}{% endfor %}
                </div>
            {% endif %}
            {% if (errors | length) != 0 %}
                <h2 class="text-2xl font-bold text-rose-600">Errors Reading Forecast Files</h2>
                {% for error in errors %}
                    <h3 class="text-xl font-bold text-rose-600">Error {{ loop.index }}</h3>
                    {% autoescape false %}
                        <pre>{{ ansi_to_html(error) }}</pre>
                    {% endautoescape %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock body %}
