{% extends "base.html" %}
{% block title %}
    Edit Forecast Area: {{ fl("forecast-area-" ~ forecast_area_id) }}
{% endblock title %}
{% block body %}
    <h1>Edit Forecast Area: {{ fl("forecast-area-" ~ forecast_area_id) }}</h1>
    <form action="./edit" method="post" enctype="multipart/form-data">
        <div>
            <label for="geojson">Forecast Area GeoJSON</label>
            <input class="w-full px-3 py-2 border focus:outline-none focus:border-blue-500"
                   type="file"
                   id="geojson"
                   name="geojson"
                   accept=".json,.geojson"
                   required>
        </div>
        <div>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
                    type="submit">Submit</button>
            <a class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
               href="../../forecast-areas">Cancel</a>
        </div>
    </form>
{% endblock body %}
