{% extends "base.html" %}
{% block title %}
    Analytics
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="/dist/uPlot.css">
    <script src="/dist/uPlot.js"></script>
{% endblock head %}
{% block body %}
    <h1 class="text-5xl font-bold">Analytics</h1>
    <p>Updated {{ batch_rate }} times per hour.</p>
    <br>
    <span>
        <label for="duration-select">Period:</label>
        <select id="duration-select"
                name="duration"
                autocomplete="off"
                hx-get="analytics"
                hx-target="#summaries-duration"
                hx-push-url="true"
                hx-headers='{"X-Template": "admin/analytics/summaries_duration.html"}'
                class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            {% for option in duration_options %}
                <option value="{{ option.duration }}"
                        {% if option.duration == summaries_duration.duration_option.duration %} selected="selected"{% endif %}>
                    {{ option.name }}
                </option>
            {% endfor %}
        </select>
    </span>
    <span>
        <label for="uri-filter">Filter:</label>
        {% if QUERY %}
            {% set uri_filter = QUERY.uri_filter %}
        {% endif %}
        <input id="uri-filter"
               name="uri_filter"
               value="{{ uri_filter }}"
               class="border">
        <button class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                hx-get="analytics"
                hx-push-url="true"
                hx-headers='{"X-Template": "admin/analytics/summaries_duration.html"}'
                hx-include="[name='uri_filter']"
                hx-target="#summaries-duration">
            Apply
        </button>
    </span>
    <div id="summaries-duration">{% include "admin/analytics/summaries_duration.html" %}</div>
    <br>
{% endblock body %}
