{% extends "base.html" %}
{% block title %}
    Forecast Files
{% endblock title %}
{% block body %}
    <h1>Forecast Files</h1>
    <a class="font-bold text-blue-600 hover:text-blue-800"
       href="forecast-files/clear">Clear Forecast Files</a>
    <table>
        <tr>
            <th>Google Drive Id</th>
            <th>Time</th>
        </tr>
        {% for forecast_file in forecast_files %}
        <tr>
            <td>{{ forecast_file.google_drive_id }}</td>
            <td>{{ forecast_file.time }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}
