{% extends "base.html" %}
{% block title %}
    Admin
{% endblock title %}
{% block body %}
    <ul>
        <li>
            <a class="font-bold text-blue-600 hover:text-blue-800"
               href="admin/analytics">Analytics</a>
        </li>
        <li>
            <a class="font-bold text-blue-600 hover:text-blue-800" href="admin/logs">Logs</a>
        </li>
        <li>
            <a class="font-bold text-blue-600 hover:text-blue-800"
               href="admin/forecast-areas">Forecast Areas</a>
        </li>
        <li>
            <a class="font-bold text-blue-600 hover:text-blue-800"
               href="admin/forecast-files">Forecast Files</a>
        </li>
        <li>
            <a class="font-bold text-blue-600 hover:text-blue-800"
               href="admin/sqlite">SQLite</a>
        </li>
    </ul>
{% endblock body %}
