{% macro weather(weather_maps) %}
    {% if "Windy" in weather_maps %}
        {% with weather_map = weather_maps.Windy %}
            <h3 class="text-3xl text-center py-1">windy.com</h3>
            <iframe width="100%"
                    height="450"
                    src="https://embed.windy.com/embed2.html?lat={{ weather_map.latitude }}&lon={{ weather_map.longitude }}&detailLat={{ weather_map.latitude }}&detailLon={{ weather_map.longitude }}&width=650&height=450&zoom=11&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=true&metricWind=m%2Fs&metricTemp=%C2%B0C&radarRange=-1"
                    frameborder="0"></iframe>
        {% endwith %}
    {% endif %}
    {% if "Meteoblue" in weather_maps %}
        {% with weather_map = weather_maps.Meteoblue %}
            <h3 class="text-3xl text-center py-1 pt-2">
                <!-- DO NOT REMOVE THIS LINK --><a class="text-blue-600 hover:text-blue-800"
   href="https://www.meteoblue.com/en/weather/week/{{ weather_map.location_id }}?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget"
   target="_blank"
   rel="noopener">meteoblue</a>
            </h3>
            <div class="flex items-center justify-center">
                <div class="w-full">
                    <iframe src="https://www.meteoblue.com/en/weather/widget/daily/{{ weather_map.location_id }}?geoloc=fixed&days=7&tempunit=CELSIUS&windunit=METER_PER_SECOND&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=light"
                            frameborder="0"
                            scrolling="yes"
                            allowtransparency="true"
                            sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
                            class="w-full md:aspect-[17/10] aspect-[10/10]"></iframe>
                    <div></div>
                </div>
            </div>
        {% endwith %}
    {% endif %}
{% endmacro %}
